h1,
h2,
h3,
h4 {
  font-weight: 700;
}

:root {
  --neversink-title-font: sans-serif;
  --neversink-main-font: sans-serif;
  --neversink-mono-font: monospace;
  --neversink-quote-font: monospace;
}

footer > div {
  /*
   * Hide the progress bar, this might come back to bite me later!
   */
  display: none;
}
