h1,
h2,
h3 {
  font-weight: 700;
}

:root {
  --neversink-title-font: "Space Mono", sans-serif;
  --neversink-main-font: "Inter", sans-serif;
  --neversink-mono-font: "Space Mono";
  --neversink-quote-font: "Geist Mono";
}

footer > div {
  /*
   * Hide the progress bar, this might come back to bite me later!
   */
  display: none;
}

li {
  list-style-type: disc;
}
